<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>Read about us!</p>

<%= image_tag("rails.png", alt: "Rails") %>
<br/>
<%= image_tag("grey_background.gif", alt: "Grey background") %>
<br/>
<%= image_tag("image_unavailable.jpg", alt: "Image unavailable") %>
<br/>
<%= image_tag("book-bkg-orange-filter.jpg", alt: "Background") %>
<br/>
