<% provide(:title, '') %>

<% @posts.each do |post| %>
  <div class="blog-post">
    <h2 class="blog-post-title"><%= post.title %></h2>
    <p class="blog-post-meta"><%= post.posted_at %> by <a href="#"><%= post.user.first_name %></a></p>
    <p><%= post.body %></p>
  </div><!-- /.blog-post -->
<% end %>

<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>