<% provide(:title, 'The Top Books') %>
<h1>The Top Books</h1>

<% @books = @books_most_reviewed %>
<%= render partial: 'top_books', locals: {top_title: "The Most Reviewed"} %>

<% @books = @books_highest_rated %>
<%= render partial: 'top_books', locals: {top_title: "The Highest Rated"} %>

<% @books = @books_latest_added %>
<%= render partial: 'top_books', locals: {top_title: "The Latest Adds"} %>

