<% provide(:title, 'Help') %>

<div class="center hero-unit">

  <h1>Help</h1>
  <br/>
  <h2>1. Sign up or sign in</h2>
  <h2>2. Enter an author</h2>
  <h2>3. Enter a book written by author</h2>
  <h2>4. Write your review, thoughts, and reflections...and book-it-away!</h2>

</div>

