<% provide(:title, '') %>
<div class="center hero-unit">

  <% if signed_in? %>
    <h1>Welcome, <%= current_user.first_name %>!</h1>
  <% else %>
    <h1>Book-It-Away</h1>
  <% end %>

  <br/>
  <h2>Ever lose track of which books you've read?</h2>
  <h2>Well, this app allows you to track those books and write your own reviews!</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
