<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Daniel's Book App</h1>

  <h2>Ever lose track of which books you've read?</h2>
  <h2>Well, this app allows you to track those books and write your own reviews!</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
