<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Book-It-Away, <%= @user.name %>!</h1>
    <p>
      You have successfully signed up,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To confirm your registration, click on the following URL: <%= confirm_email_user_url(@user.confirm_token) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>