<% provide(:title, 'Google Books Import') %>

<div class="blog-post">
  <div class="page-header">
    <h2>Google Books Import</h2>
  </div>

  <div class="row">
  <%= form_tag(results_gb_index_path, method: "get", class: "form-horizontal", id: "search-form") do %>

    <div class="form-group">
      <%= label_tag :isbn, "ISBN", class: "col-sm-3 control-label" %>
      <div class="col-sm-8">
        <%= text_field_tag :isbn, nil, class: "form-control", maxlength: 10 %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-4">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    </div>

  <% end %>
  </div>
</div>