<% provide(:title, 'Search') %>
<h1>Search</h1>

<div class="row">
<%= form_tag(results_gb_index_path, method: 'get', class: "form-horizontal span5 offset2", id: "search-form") do %>

  <div class="control-group">
    <%= label_tag :isbn, "ISBN", {class:"control-label"} %>
    <div class="controls">
      <%= text_field_tag :isbn, nil, {class:"input-block-level span4", maxlength:10} %>
    </div>
  </div>

  <div class="form-actions span4">
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <%#= button_tag "Reset", class: "btn" %>
  </div>
<% end %>
</div>

