<% provide(:title, "Edit author") %>

<div class="blog-post">
  <div class="page-header">
    <h2>Update Author</h2>
  </div>
  <%= render partial: 'authors/form', locals: { button_label: "Save Changes", cancel_path: author_path(@author) } %>
</div>