<% provide(:title, @user.first_name + " " + @user.last_name) %>

<div class="no-results">

<h2>Last Name: <%= @user.last_name %></h2>
<h2>First Name: <%= @user.first_name %></h2>
<h2>Email: <%= @user.email %></h2>
<h2>Admin: <%= @user.admin %></h2>

</div>
