<% provide(:title, "Update book") %>

<div class="blog-post">
  <div class="page-header">
    <h2>Update Book</h2>
  </div>
  <%= render partial: 'form', locals: { new_form: false, button_label: "Save Changes", cancel_path: author_book_path(@author, @book) } %>
</div>
