<% provide(:title, 'New Book') %>

<div class="blog-post">
  <div class="page-header">
    <h2>New Book</h2>
  </div>
  <%= render partial: 'form', locals: { new_form: true, button_label: "Add Book", cancel_path: author_path(@author) } %>
</div>