<% provide(:title, "Update Category") %>

<div class="blog-post">
  <div class="page-header">
    <h2>Update Category</h2>
  </div>
  <%= render partial: 'form', locals: { button_label: "Save Changes" } %>
</div>