<% provide(:title, 'New Category') %>

<div class="blog-post">
  <div class="page-header">
    <h2>New Category</h2>
  </div>
  <%= render partial: 'form', locals: { button_label: "Add Category" } %>
</div>