<footer class="footer">
  <small>
    <div id="navbar-search">
      <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag(:query, "Search for title / author", class: "search", onclick: "this.value = '';") %>
      <% end %>
    </div>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
